CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_xiaomi_ax3600=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_wpad-basic-wolfssl=m
CONFIG_PACKAGE_wpad-wolfssl=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y
CONFIG_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_TARGET_ROOTFS_INITRAMFS=y

# CUSTOM CONFIG
CONFIG_ALL=y
CONFIG_ALL_KMODS=y
CONFIG_ALL_NONSHARED=y

CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_relayd=y
CONFIG_PACKAGE_wireguard=y

#ZEROTIER
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_libstdcpp6=y
CONFIG_PACKAGE_zerotier=y
